body{
    padding: 1em;
}
body { 
    box-sizing: border-box;
    color: grey
}
body{
    border-image: round;
    color: grey

}
img {
    width: 150%;
}
body {
    border-image: round
    img: width: 50%;
}